<div class="card">
  <div class="card-img">
    <% if artwork.photo? %>
      <%= cl_image_tag artwork.photo.path, width: 200, height: 300, crop: :fill %>
    <% end %>
  </div>
  <div class="card-content">
    <div class="card-item">
      <%= link_to artwork.name, "#", class: "card-link" %>
    </div>
    <div class="card-aw-artist">
      <%= link_to artwork.artist, "#", class: "card-link" %>
    </div>
    <div class="card-aw-medium">
      <p><%= artwork.medium %></p>
    </div>
  </div>
</div>
