<div class="card"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path artwork.photo.path, height: 400, width: 300, crop: :fill %>')">
  <div class="card-content">
    <div class="card-item card-name">
      <%= link_to artwork.name, "#", class: "card-link" %>
    </div>
    <div class="card-item card-artist">
      <%= link_to artwork.artist, "#", class: "card-link" %>
    </div>
    <div class="card-medium">
      <p><%= artwork.medium %></p>
    </div>
  </div>
</div>
