<div class="container footer-fix">
  <h1 class="text-center text-primary">Discover <%= "artwork".pluralize(@artworks) %> in Montreal </h1>
  <br>
  <div class="row">
    <% if @artworks.present? %>
      <%= render partial: 'components/artwork',collection: @artworks, as: :artwork, locals: {height: "350px", bstp: "3"} %>
    <% else %>
      <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
    <% end %>
  </div>
</div>



