<div class="container">
  <h1 class="text-center">All artworks</h1>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= render partial: 'components/artwork',collection: @artworks %>
    </div>
  </div>
</div>
