<div class="container">
  <h1 class="text-center">All artworks</h1>
  <hr>
  <div class="row">
    <%= form_tag(artworks_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Artowrk" %>
      <%= submit_tag "Search" %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= render partial: 'components/artwork',collection: @artworks %>
    </div>
  </div>
</div>
