.form-control:focus {
  border-color: $gallery;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $gallery;
}

.help-block {
  color: $gray;
}

.form-content-container {
   margin-left: 25%;
   margin-right: 25%;
   margin-bottom: 10%;
   margin-top: 5%;
}

 input:-webkit-autofill,
 input:-webkit-autofill:hover,
 input:-webkit-autofill:focus,
 input:-webkit-autofill:active {
 -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  }
