<div class= "navbar-top" id="main-nav-header">
<!-- menu -->
   <%= link_to "#", class: "navbar-item navbar-link" do %>
    <i class="fa fa-bars" aria-hidden="true"></i>
    <p>Menu</p>
  <% end %>
<!-- logo -->
  <%= link_to root_path, class: "navbar-logo" do %>
    <%= image_tag "gallery514_logo.png" %>
  <% end %>
<!-- search -->
  <%= link_to "#", class: "navbar-item navbar-link" do %>
    <p>Search</p>
    <i class="fa fa-search" aria-hidden="true"></i>
  <% end %>
</div>

