<nav class= "navbar navbar-fixed-top">
  <div class="navbar-header row" id="main-nav-header">
    <!-- menu -->
    <div class="col-xs-3 col-sm-4">

    </div>
    <!-- logo -->
    <div class="col-xs-6 col-sm-4">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "gallery514_logo.png" %>
      <% end %>
    </div>
    <!-- search -->
    <div class="col-xs-3 col-sm-4 text-right">
      <%= link_to "Search", "#", class: "navbar-item navbar-link" %>
      <i class="fa fa-search" aria-hidden="true"></i>
    </div>
  </div>
</nav>

