.main-container {
  background-color: white;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  padding: 20px 50px;
  margin: 50px;
}

.request-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding-bottom: 30px;
}

.delete-reservation-btn {
  position: absolute;
  bottom: 20px;
}

#status-btn {
  position: absolute;
  bottom: 20px;
}

.request-item {
  padding: 5px 20px;
  p {
    margin: 3px 0;
  }
}

.request-artwork {
  flex: 1 0 auto;
  text-align: center;
}

.artwork-info {
  h3 {
    margin-top: 3px;
  }

}
.request-info {
  p {
    font-weight: lighter;
  }
}

hr {
  margin-bottom: 0;
}

.option-links {
  margin-top: 20px;
}
