<div class="banner">
  <div class="banner-content">
    <div class="col-sm-4">
      <h1 class="align-left">Be a part</h1>
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <h1 class="align-right">of local art</h1>
    </div>
  </div>
</div>

<br>
<div class="home-container">
  <div class="row align-left">
  <%= link_to "Discover", "#", class:"gallery-primary gallery-btn btn-lg ", id:"home-btn"%>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
    </div>
    <div class="col-xs-12 col-sm-4">
    </div>
  </div>
</div>
