<div class="banner" style="background-image: url('<%= image_path('background-home.png') %>;">
  <div class="banner-content">
    <div class="col-sm-4">
      <h1 class="align-left">Be a part</h1>
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <h1 class="align-right">of local art</h1>
    </div>
  </div>
</div>

<br>
<div class="container">
  <div class="home-group">
    <div class="row align-left">
      <%= link_to "Discover", "#", class:"gallery-primary gallery-btn btn-lg ", id:"home-btn"%>
    </div>
    <div class="row">
      <%= render partial: 'components/artwork', collection: @recent_artwork, as: :artwork, locals: {height: "400px", width: "300px"} %>
    </div>
  </div>
</div>
