<div class="banner">
  <div class="banner-content">
    <div class="col-sm-4 ">
      <h1 class="align-left">Be a part</h1>
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <h1 class="align-right">of local art</h1>
    </div>
  </div>
</div>

<div class="container">
      <%= link_to "Discover", "#", class:"gallery-primary gallery-btn ", id:"home-btn"%>
  <h1></h1>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
    </div>
    <div class="col-xs-12 col-sm-4">
    </div>
  </div>
</div>

