.gallery-btn  {
  border-radius: 1px;
  padding: 8px 25px;
  border: solid;
  border-width: 1.5px;
  background: none;
}

.gallery-primary {
  border-color: $gallery;
  color: $gallery;
}

.gallery-secondary {
  border-color: $dark-gray;
  color: $dark-gray;
}

.gallery-primary:hover {
  background-color: rgba(193, 203, 203, 0.5);
  border-color: $gallery;
}

.gallery-primary:active {
  background-color: $gallery;
  border-color: $gallery;
}

.gallery-secondary:hover {
  background-color: rgba(193, 203, 203, 0.5);
  border-color: $dark-gray;
}

.btn-primary.btn-facebook {
  background-color: #3b5998;
  border: none;
}

.btn-primary.btn-facebook:hover {
  background-color: #3b5998;
  border: none;
}
