.gallery-btn  {
  border-radius: 1px;
  padding: 8px 25px;
  border: solid;
  border-width: 1.5px;
  font-size: 18px;
  background: none;
}

.gallery-primary {
  border-color: $gallery;
  color: $gallery;
}

.gallery-secondary {
  border-color: $dark-gray;
  color: $dark-gray;
}

.gallery-primary:hover {
  transform: scale(1.05);
  border-color: $gallery;
  color: $gallery;
  background: none;
}

.gallery-primary:focus {
  transform: scale(1.00);
  border-color: $gallery;
  color: $gallery;
  background: none;
}

.gallery-primary:visited {
  border-color: $gallery;
  color: $gallery;
  background: none;
}

.gallery-primary:active {
  background: none;
  border-color: $gallery;
}

.gallery-secondary:hover {
  transform: scale(1.1);
}

.btn-primary.btn-facebook {
  background-color: #3b5998;
  border: none;
}

.btn-primary.btn-facebook:hover {
  background-color: #3b5998;
  border: none;
}
