.navbar {
  position: relative;
  border: 0;
  margin-bottom: 0;
}

/* Top Navbar */
.navbar-top {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo img {
  height: 50px;
}

.navbar-item {
  cursor: pointer;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $gallery;
  font-size: 14px;
  p {
    padding: 0 20px;
    margin: 0;
    font-size: 18px;
  }
  &:hover {
    color: black;
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
    color: $gallery;
  }
}

/* Navbar Menu */
.navbar-menu {
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.collapsed {
  display: none;
}

.menu-options {
  background-color: $gallery;
  opacity: 0.9;
}

.menu-list {
  margin-bottom: 0;
}

.menu-item {
  padding: 14px 70px;
}

.menu-link {
  padding: 0;
  color: white;
  &:hover {
    color: black;
  }
}

.menu-tabs {
  background-color: white;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 46px;
}

.tab-item {
  padding: 15px 24px !important;
}

.tab-link {
  color: $gallery;
  font-size: 14px;
  &:hover {
    color: black;
  }
}

.tab-left {
  margin-bottom: 0;
}

.tab-log-in {
  p {
    display: inline;
    padding: 0 20px;
  }
}

.search-popup {
  background-color: $gallery;
  padding-top: 15px;
  height: 100%;
  width: 100%;
  font-size:130px;
  position: absolute;
  top: 0;
}

#close-search {
  color: white;
}
.search-bar {
  background-color: $gallery;
  border-style: none none solid none;
  border-width: thin;
  color: white;
}

// i {
//   color: $gallery;
//   height: 20px;
// }


