/* Main navbar */
.navbar {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
  transition: top 0.25s;
}

.navbar-brand img {
  height: 50px;
}

.navbar-item {
  cursor: pointer;
  padding: 0 20px;
}

.navbar-link {
  color: $gallery;
  font-size: 14px;
}

.fa-search {
  color: $gallery;
}
